@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{margin: 0; padding: 0;}

input.tim::-webkit-input-placeholder{
    color: #888;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-style: italic;
}
input.tim {
    border: 1px solid #ebebeb;
    width: 250px;
    padding: 14px 20px;
    border-radius: 0;
    background: url(images/iconsearch.png) no-repeat 92% center;
}

a.cctop i.fa {
    padding-right: 8px;
}

a.cctop {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    font-size: 12px;
    color: #888;
    padding-right: 37px;
    padding-top: 11px;
    text-decoration: none;
}

.thanhcc {
    padding-top: 40px;
    z-index: 2;
    position: relative;
}

.menu-top .navbar-light .navbar-nav li >.nav-link {
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    border-right: 1px solid #ebebeb;
    padding: 4px 32px;
}
.menu-top .navbar-light .navbar-nav li >.nav-link:hover{
    color: #000;
}
.menu-top .navbar-nav .nav-item {
    float: none;
    display: inline-block;
    position: relative;
}

.menu-top ul.nav.navbar-nav {
    text-align: center;
    display: block;
    border-top: 1px solid #ebebeb;
    margin-top: 9px;
    padding: 18px 0;
    border-bottom: 1px solid #ebebeb;
}

.menu-top a.navbar-brand {
    display: block;
    float: none;
    text-align: center;
    padding: 30px 0;
    margin-top: -83px;
}
.menu-top .navbar-nav .nav-item ul {
    position: absolute;
    list-style: none;
    text-align: left;
    top: 56px;
    left: 2px;
    background: #fff;
    padding: 5px 13px;
    width: 168px;
    transition: 0.4s;
    padding-top: 17px;
    visibility: hidden;
    opacity: 0;
}

.menu-top .navbar-nav .nav-item ul a {
    color: gray;
    padding: 6px 0;
    display: block;
    font-size: 14px;
}

.menu-top .navbar-nav .nav-item ul a:hover {
    text-decoration: none;
    color: black;
}

.menu-top .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    top: 26px;
}

/*CSS cho màn hình di động (ipad và iphone)*/
@media (max-width: 576px){
     *{}

    .menu-top .navbar-nav .nav-item ul a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-top .navbar-nav .nav-item ul {
        position: static;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        opacity: 1;
        visibility: visible;
        background: #efefef;
    }

    .navbar-toggleable-xs .navbar-nav .nav-item {
        display: block;
    }

    a.cctop {
        padding-right: 18px;
        padding-left: 22px;  
    }
    input.tim{
        width: 100%;
        margin-top: 12px;
    }
    .thanhcc {
        padding-top: 0;
    }
    .menu-top a.navbar-brand {
        margin-top: 1px;
        padding-top: 0;
    }
    .menu-top .navbar-light .navbar-nav li >.nav-link {
        display: block;
        border-right: none;
        border-top: 1px dashed #8080804d;
        padding: 10px 0;
    }
    .menu-top ul.nav.navbar-nav {
        border: none;
    }
 }
 @media (min-width: 577px) and (max-width: 991px){
    *{}
    a.cctop {
        padding-right: 12px;
    }
 }